<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
<div id="facets" class="facets sidenav">

  <% if get_collection %>
    <div class="panel panel-default collection-title">
      <div class="panel-body">
        <h4><%= get_collection %></h4>
      </div>
      <div class="panel-footer">
        <a href='<%= Rails.configuration.about_host_url %><%= "#{ CGI.escape get_collection }" %>'>About the Collection</a>
      </div>
    </div>
  <% end %>

  <div class="top-panel-heading panel-heading">
    <button type="button" class="facets-toggle" data-toggle="collapse" data-target="#facet-panel-collapse">
      <span class="sr-only">Toggle facets</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <h2 class='facets-heading'>
      <%= t('blacklight.search.facets.title') %>
    </h2>
  </div>

  <div id="facet-panel-collapse" class="collapse panel-group">
    <%= render_facet_partials %>
  </div>
</div>
<% end %>